.slider-frame, .slider-list {
  height: 600px !important;
}

.slider {
  height: 800px !important;
}

.kata {
  padding: 20px 80px;
}

.kata-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kata-header > * {
  padding-top: 15px;
} 
